#left{
    float: left;
    width: 20%;
    height: 1000px;
    background-color:rgb(255, 255, 255);
}

#left header{
    float: left;
    height: 500px;
    width: 20px;
    background-color:white;
}

#header_left{
  float: left;
  height: 300px;
  width: 100%;
  background-color:white;
}
#center{
    float: left;
    width: 60%;
    height: 1000px;
    background-color:rgb(10, 10, 10);

}
#right{
    float: left;
    width: 20%;
    height: 1000px;

    background-color:rgb(255, 255, 255);

}


#header{
    background-color:rgb(100,100,100);
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}





.icon-bar {
    width: 100%; /* Full-width */
    background-color: #8B4AE8; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  .active {
    background-color: #8B4AE8; /* Add an active/current color */
  }



#client_image{
margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
}

#description {
  padding-left: 20%; 
  padding-right: 20%; 
}



.edit_profile{
  background-color: #8B4AE8;
  text-align: center;
  font-size: 30px;
  padding: 10px 24px;
  border-radius: 20%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.friend{
    width: 90%;
    height: 500px;
}
#friend_image{
    margin-top: 10%;
    display: block;
    margin-left: 10%;
    margin-right: auto;
    height: 70px;
    width: 70px;
    border-radius: 80%;

   /* max-width: 30%;
    max-height: 30%;
    height: auto;
   */
}


.name{
    padding-left: 20px;
    text-align:start;
}